@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{

    /* colors */
--orange: hsl(25, 97%, 53%);
--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 54%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--very-dark-blue: hsl(216, 12%, 8%); 
--dark-medium: hsl(213, 18%, 22%);

}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--very-dark-blue);
    overflow-y: hidden;
}

html{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: var(--white);
}


.card{
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card .container{
    max-width: 300px;
    width: 100%;
    background: var(--dark-blue);
    padding: 1.8rem;
    border-radius: 1.2rem;
}

.card .main-container .img{
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    background: var(--dark-medium);
    text-align: center;
    margin-bottom: 1rem;
   
}

.card .main-container .img img{
    height: 0.8rem;
    margin-top: 0.3rem;
}

.card .main-container h1{
    margin-bottom: 0.6rem;
}

.card .main-container p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--medium-grey);
    margin-bottom: 1rem;
}

.card .main-container .numbers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.card .main-container .numbers .button{
   height: 40px; 
   width: 40px;
   border-radius: 50%; 
   border: none;
   background: var(--dark-medium);
   color: var(--white);
   transition: all .2s linear;
}

.card .main-container .numbers .button:hover{
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.card .main-container .numbers .button.active{
    background-color: var(--light-grey);

}

.card .main-container .submit{
    width: 100%;
    padding: 0.7rem;
    border-radius: 1rem;
    border: none;
    background: var(--orange);
    color: var(--white);
    margin-top: 0.7rem;
    transition: all .2s linear;
    text-transform: uppercase;
}

.card .main-container .submit:hover{
    background: var(--white);
    color: var(--orange);
    cursor: pointer;
}

.hidden{
    display: none;
}

.card .thank-section{
    margin-top: 0.5rem;
}

.card .thank-section .image{
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}

.card .thank-section .image img{
    margin: 1.2rem;
    height: 90px;
}

.card .thank-section .selected{
    width: 200px;
    padding: .5rem;
    display: flex;
    margin: auto;
    justify-content: center;
    background: var(--dark-medium);
    color: var(--orange);
    border-radius: 1rem;
}

.card .thank-section h1{
    display: flex;
    justify-content: center;
    margin: 1rem ;
}

.card .thank-section .text p{
    text-align: center;
    color: var(--light-grey);
    font-size: 1rem;
    line-height: 1.5rem;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}


.buttons-container .buttons a img{
    height: 20px;
    background-color: var(--white);
    border-radius: 50%;
    padding: .6rem;
    transition: all .2s linear;
}


.buttons-container .buttons a img:hover{
  
    background-color: var(--orange);
  
}

.attribution { 
    display: flex;
    justify-content: center;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--orange); 
    text-decoration: none;
}



@media (max-width:405px){
    
    .card .container{
        max-width: 230px;
        width: 100%;
        background: var(--dark-blue);
        padding: 1.5rem;
    
    }
}





